<div fxFlexAlign="center" fxFlex="900px">
  <h1>Promises</h1>
  <mat-card class="customCard">
     
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Promises">
            <mat-list>
                <mat-list-item *ngFor="let item of promiseInfo">
                    <ul>
                        <li mat-line>
                            <h2>{{item.heading}}</h2>
                        </li>
                        <ul>
                            <li *ngFor="let point of item.subPoints">
                                <h3>{{ point }}</h3>
                            </li>
                        </ul>
                    </ul>
                </mat-list-item>
            </mat-list>
          </mat-tab>

          <mat-tab label="Code">
              <pre class="language-typescript"><code class="language-typescript">

                // This is an example function that returns a Promise
                promiseFunction(): Promise&lt;String&gt; &#123;

                    // Return Promise to continue Processing
                    return new Promise((resolve, reject) => &#123;
                    

                      // Do something
                    

                      //If all is well resolve
                      if(allWell)
                          resolve();
                      else
                          reject('All is not well :(')
                    
                    &#125;);
                &#125;
              </code></pre>
          </mat-tab>

          <mat-tab label="Example">
                <div fxLayoutAlign="center center" style="padding-top:30px">
                                            
                    <div fxLayout="column" fxLayoutAlign="center center">

                        <div fxLayout="row">
                            <a mat-button (click)="starWarsGet()">Get Luke</a>
                        </div>
                        
                            
                        <div *ngIf="data">
                            <h2>We Found: {{ data.name }}</h2>
                        </div>
                        <div style="margin-top: 10px" *ngIf="thingsHappening">
                            Things that could be happening while finding Luke: {{ thingsHappening }}
                        </div>
                    </div>

                </div>
          </mat-tab>  
        </mat-tab-group>
      </mat-card-content>
  </mat-card>
 
  <h1>Promise Chains</h1>
  <mat-card class="customCard">
        
         <mat-card-content>
           <mat-tab-group>
               <mat-tab label="Promise Chains">
                    <mat-list>
                        <mat-list-item *ngFor="let item of promiseChainInfo">
                            <ul>
                                <li mat-line>
                                    <h2>{{item.heading}}</h2>
                                </li>
                                <ul>
                                    <li *ngFor="let point of item.subPoints">
                                        <h3>{{ point }}</h3>
                                    </li>
                                </ul>
                            </ul>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
   
             <mat-tab label="Code">
                 <pre class="language-typescript"><code class="language-typescript">
   
                        
                    promiseChain(): void &#123;
                        
                        // getChar returns a promise
                        this.simpleService.getChar(1)
                            .then(result => &#123;
                                // set some data for the  ui
                                this.chainData1 = result['name'];
                
                                // getChar returns a promise;
                                return this.simpleService.getChar(2)
                            &#125;)
                            .then(result => &#123;
                                // set second data for the ui
                                this.chainData2 = result['name'];  
                                
                                // getChar returns a promise
                                return this.simpleService.getChar(3)
                            &#125;)
                            .then(result => &#123;
                                // set third object 
                                this.chainData3 = result['name'];                
                            &#125;)
                            .catch(error => console.error(error));
                    &#125;
                 </code></pre>
             </mat-tab>
   
             <mat-tab label="Example">
                   <div fxLayoutAlign="center center" style="padding-top:30px">
                                               
                       <div fxLayout="column" fxLayoutAlign="center center">
   
                            <div fxLayout="row">
                               <a mat-button (click)="promiseChain()">Kick Off Promise Chain</a>
                            </div>
                           
                               
                            <div *ngIf="chainData1">
                               <h2>We Found: {{ chainData1 }}</h2>
                            </div>

                            <div *ngIf="chainData2">
                               <h2>We Found: {{ chainData2 }}</h2>
                            </div>

                            <div *ngIf="chainData3">
                                <h2>We Found: {{ chainData3 }}</h2>
                            </div>
                           
                       </div>
   
                   </div>
             </mat-tab>  
           </mat-tab-group>
         </mat-card-content>
     </mat-card>
</div>
