@import '~@angular/material/theming';


@include mat-core();

.m2app-dark {
  $primary: mat-palette($mat-blue-grey);
  $accent:  mat-palette($mat-amber, A200, A100, A400);
  $warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($dark-theme);

  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}