
<div fxFlexAlign="center" fxFlex="900px">
    <!-- <h1>Observables are the basic building blocks for Reactive Programming.</h1>
    <h1>Reactive Programming is centered around Asynchronous Streams of Data.</h1> -->
    <mat-list>


        <mat-list-item>
            <div>
                <h1>Observables</h1>
                <mat-card class="customCard" >
                
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab label="Observables">
                                <mat-list> 
                                    <mat-list-item *ngFor="let item of observableData">
                                        <ul>
                                            <li mat-line>
                                                <h2>{{item.heading}}</h2>
                                            </li>
                                            <ul>
                                                <li *ngFor="let point of item.subPoints">
                                                    <h3>{{ point }}</h3>
                                                </li>
                                            </ul>
                                        </ul>
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
        
        
                            <mat-tab label="Observer">
                                <mat-list> 
                                    <mat-list-item *ngFor="let item of observerData">
                                        <ul>
                                            <li mat-line>
                                                <h2>{{item.heading}}</h2>
                                            </li>
                                            <ul>
                                                <li *ngFor="let point of item.subPoints">
                                                    <h3>{{ point }}</h3>
                                                </li>
                                            </ul>
                                        </ul>
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
        
                            <mat-tab label="Observer Code">
                                <pre class="language-typescript"><code class="language-typescript">
        
        
                    /**
                    * Kick of an observable sequence
                    */
                    observableKickoff(): void &#123;
                    
                        // Subscribe takes an object with 3 parameters.
                        // This object is the observer
                        let subscription = this.simpleService.getObservable()
                            .subscribe(&#123;
                                next: data => this.data = data,             // Handle the data
                                error: err => console.error(err),           // Log Errors
                                complete: () => &#123;
                                    console.log('Subscription Completed')   // Handle the subscription complete
                                    subscription.unsubscribe();             // Unsubscribe from the observable
                                &#125;
                            &#125;)
                    &#125;
                                </code></pre>
                            </mat-tab>
        
        
        
                            <mat-tab label="Observable Code">
                                <pre class="language-typescript"><code class="language-typescript">
        
        
                        /**
                        * Return an Observable that will tick every 4 seconds
                        */
                        getObservable(): Observable&lt;number&gt; &#123;
        
                            // give the new Observable an observer function
                            return new Observable(observer => &#123;
                                let value = 0;
                            
                                // interval will fire 100 times
                                let interval = setInterval(() => &#123;
                                    value++;
                            
                                    // if value is greater than 100, stop the interval, complete the subscription
                                    if(value > 100) &#123;
                                        clearInterval(interval);
                                        observer.complete();
                                    &#125; else &#123;
        
                                        // This is how to invoce the next function of the observer
                                        observer.next(value);
                                    &#125;
                                &#125;, 5);
                            &#125;);
                        &#125;
                                </code></pre>
                            </mat-tab>
                    
                            <mat-tab label="Example">
                                <div fxLayoutAlign="center center" style="padding-top:30px">
                                                            
                                    <div fxLayout="column" fxLayoutAlign="center center">
        
                                        <div fxLayout="row">
                                            <a mat-button (click)="observableKickoff()">Kick Off</a>
                                        </div>
                                        
                                        <div fxLayout="column">
                                            <div *ngIf="data">
                                                <h2>{{ data }} Observable Events</h2>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </mat-tab>  
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-list-item>


        <mat-list-item>
            <h1>Observable Operators</h1>
            <mat-card class="customCard">
            
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label=".map">
                            <mat-list> 
                                <mat-list-item>
                                    <h2>Transform the items emitted by an Observable by applying a function to each item</h2>
                                </mat-list-item>
                                <mat-list-item>
                                    <pre>
                                        <code>
                        //emit (1,2,3,4,5)
                        const source = Rx.Observable.from([1,2,3,4,5]);

                        // .map will add 10 to each value
                        const subscribe = example
                            .map(val => val + 10)
                            .subscribe(val => console.log(val));

                        //output: 11,12,13,14,15
                                        </code>
                                    </pre>
                                </mat-list-item>
                            </mat-list>
                        </mat-tab>
    
    
                        <mat-tab label=".filter">
                            <mat-list>
                                <mat-list-item>
                                    <h2>Emit only those items from an Observable that pass a predicate test</h2>
                                </mat-list-item>

                                <mat-list-item>
                                    <pre>
                                        <code>
                        //emit (1,22,8,15,9,17)
                        const source = Rx.Observable.from([1,22,8,15,9,17]);

                        // .filter will add 10 to each value
                        const subscribe = example
                            .filter(val => val &lt; 15)
                            .subscribe(val => console.log(val));

                        //output: 1,5,9
                                        </code>
                                    </pre>
                                </mat-list-item>
                            </mat-list>
                        </mat-tab>
                                    
                        
                        
    
                       
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </mat-list-item>

        
        <mat-list-item>
            <h1 style="margin-top:90px">Subject</h1>
            <mat-card class="customCard">
                
                <mat-card-content>
                    <mat-tab-group>
                    <mat-tab label="Subjects">
                        <mat-list> 
                            <mat-list-item *ngFor="let item of subjectInfo">
                                <ul>
                                    <li mat-line>
                                        <h2>{{item.heading}}</h2>
                                    </li>
                                    <ul>
                                        <li *ngFor="let point of item.subPoints">
                                            <h3>{{ point }}</h3>
                                        </li>
                                    </ul>
                                </ul>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
            
                    <mat-tab label="Subject Code">
                        <pre class="language-typescript"><code class="language-typescript">
        
        
                    subjectKickoff(): void &#123;
                        let observe1, observe2;
                
                        // Will emit an int every second and only take first 5 values
                        let tick$ = Observable.interval(1000).take(5);
                        
                        // set up observabale 1;
                        let obs1 = new Observable(observer => &#123;
                            // save the observer
                            //  we will add it to the subject
                            observe1 = observer;
                        &#125;).subscribe(
                            data => &#123;
                                // Push this data into Subject data to be viewed in ui
                                this.subjectData.push('Observable 1 data: ' + data)
                            &#125;
                        );
                
                        // set up observable 2
                        let obs2 = new Observable(observer => &#123;
                            
                            //save the obsever
                            // we'll add it to the subject            
                            observe2 = observer;
                        &#125;).subscribe(
                            data => &#123;
                                // push this data into Subject data to be viewed in ui
                                this.subjectData.push('Observable 2 data: ' + data)
                            &#1235;
                        );
                
                        // Add the observers to the subject.
                        this.subject.subscribe(observe1);
                        this.subject.subscribe(observe2);
                
                        // every tick, the int emitted from tick$ will be piped to the subject
                        //  every observer in the subject will get the value
                        tick$.subscribe(this.subject);  
                
                    &#125;
                        </code></pre>
                    </mat-tab>
            
                    <mat-tab label="Example">
                        <div fxLayoutAlign="center center" style="padding-top:30px">
                                                    
                            <div fxLayout="column" fxLayoutAlign="center center">
        
                                <div fxLayout="row">
                                    <a mat-button (click)="subjectKickoff()">Kick Off</a>
                                </div>
                                
                                <div fxLayout="column">
                                    <div *ngIf="subjectData">
                                        <div *ngFor="let data of subjectData">
                                            <h2>{{ data }}</h2>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </mat-tab>  
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </mat-list-item>


        <mat-list-item>
            <h1>Behavior Subject</h1>
            <mat-card class="customCard">
                
                <mat-card-content>
                    <mat-tab-group>
                    <mat-tab label="Behavior Subjects">
                        information about Observables
                    </mat-tab>
            
                    <mat-tab label="Behavior Subject Code">
                        <pre class="language-typescript"><code class="language-typescript">
        
        
                        /**
                        * Kick off the behavior Subject
                        */
                        bhKickoff(): void &#123;
                            this.bhValues = [];
                    
                            // Set up the first subscriber
                            this.bhSubject.subscribe(&#123;
                                next: value => this.bhValues.push("Behavior Subject A recieved Value: " + value )
                            &#125;);
                    
                            // For loop will tick through values
                            for(let i = 0; i &lt; 3; i++ &#123;
                                this.bhSubject.next(i * 2);
                            &#125;
                    
                            // set up second subscriber to same subject
                            this.bhSubject.subscribe(&#123;
                                next: value => this.bhValues.push("Behavior Subject B recieved Value: " + value )
                            &#125;);
                    
                            // for loop will tick values to both
                            for(let i = 3; i &lt; 6; i++) &#123;
                                this.bhSubject.next(i * 2);
                            &#125;
                        &#125;
                        </code></pre>
                    </mat-tab>
            
                    <mat-tab label="Example">
                        <div fxLayoutAlign="center center" style="padding-top:30px">
                                                    
                            <div fxLayout="column" fxLayoutAlign="center center">
        
                                <div fxLayout="row">
                                    <a mat-button (click)="bhKickoff()">Kick Off Behavior Subjects</a>
                                </div>
                                
                                <div fxLayout="row">
                                    <div *ngIf="bhValues">
                                        <h2 *ngFor="let data of bhValues">
                                            {{ data }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </mat-tab>  
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </mat-list-item>
    </mat-list>
</div>
    