<!--The content below is only a placeholder and can be replaced.-->
<div #mainContainer class="flex-container"
  [class.m2app-dark]="'m2app-dark'"
  class="app-content">
  <!-- available themes are the <class>.<theme> -->
  
  <mat-toolbar color="primary" class="toolbar-fixed toolbar-shadow">
    <!-- nav links start -->
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-nav-list>
        
        <mat-list-item>
          <a mat-button (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>view_headline</mat-icon>
          </a>
        </mat-list-item>

        <!-- navigation header -->
        <mat-list-item>
            <h3 mat-subheader fxLayoutAlign="center center">Angular Nashville</h3>            
        </mat-list-item>
        
      </mat-nav-list>
    </div>
    <!-- nav links end -->
  </mat-toolbar>


  <div fxFlexFill class="padding-top">
    <mat-sidenav-container #sidenavContainer fxFlexFill>
      <mat-sidenav #sidenav class="customSidenav">
            Jolly Good Sidenav    
      </mat-sidenav>

      <div class="sidenav-content" style="padding-top: 40px">
        <div>
          <div fxLayoutAlign="center" class="section">
            <app-promise-component></app-promise-component>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" class="section">
            <app-observable-component></app-observable-component>
          </div>
        </div>
      </div>

    </mat-sidenav-container>
  </div>
</div>
