md-sidenav-layout.m2app-dark {
    background: black;
}
  
.app-content {
    margin: 0px;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
  
.customSidenav {
    width:50vh; 
    padding: 20px;
}

.toolbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
}
 
.toolbar-shadow{
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 5px 7px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    z-index:2;
}

.padding-top {
    padding-top: 64px;
}

mat-nav-list {
    display: flex;
}

.section {
    margin-bottom:50px;
    width: 100%
}